<div class="form-group">
  <label for="car-name">Car Name</label>
  <input
    type="text"
    class="form-control"
    id="car-name"
    placeholder="Car Name"
  [(ngModel)]="carName">
</div>

<div class="form-group">
  <label for="car-model">Car Model</label>
  <input
    type="text"
    class="form-control"
    id="car-model"
    placeholder="Car Model"
    [(ngModel)]="carModel">
</div>

<button type="button" class="btn btn-outline-primary" (click)="onAdd()">Add Car</button>
<button type="button" class="btn btn-outline-success" (click)="onLoad()">Load Cars</button>
